<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>edtc</title>
	<link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
	<%- include("style.ejs") %>
</head>
<body>
	<div style="position: absolute; width: 100vw; height: 100vh; top: 0; left: 0; pointer-events: all; cursor: none;z-index: -1;"></div>